/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
    font-family: "RobotoBold";
    src: url(Roboto-Bold.ttf)
}

@font-face {
    font-family: "RobotoMedium";
    src: url(Roboto-Medium.ttf)
}

@font-face {
    font-family: "Sacramento";
    src: url(Sacramento-Regular.ttf)
}

body {
    box-sizing: border-box;
}

#content {
    font-family: "RobotoMedium", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #cd293d;
    width: 100vw;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0 0 0;
    background-color: rgb(255, 255, 255);
    width: 100%;
}

header img {
    height: 50px;
    width: auto;
}

header ul, footer ul {
    display: flex;
    justify-content: space-around;
}

header ul {
    width: 40%;
}

header li:not(.active):hover {
    cursor: pointer;
    background-color: #ffc300;
    
}

header li.active {
    background-color: #cd293d;
    color: white;
    transition: background-color .5s;
}

header li {
    transition: background-color 0.3s;
    text-align: center;
    width: 80px;
    font-size: 18px;
}

li {
    list-style-type: none;
    padding: 20px;
}

main {
    width: clamp(400px, 70%, 1500px);
    margin: 50px 0;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

main > * {
    margin: 40px 0;
}

#slogan {
    font-family: 'Sacramento';
    font-weight: bold;
    font-size: 70px;
}

main div {
    background-color: #ffc300;
    padding: 10px;
    border-radius: 5px;
    outline: 5px solid #cd293d;
    box-shadow: 5px 5px 5px black;
}

.intro {
    width: clamp(200px, 40%, 500px);
}

h1:not(#slogan) {
    font-size: 36px;
    font-family: "RobotoBold", sans-serif;
    margin-top: 60px;
    margin-bottom: 54px;
}

h2 {
    font-size: 24px;
    font-family: "RobotoBold", sans-serif;
}

.menu {
    width: clamp(200px, 40%, 500px);
}

.menu li {
    font-size: 24px;
}

.menu p {
    font-size: 16px;
}

img {
    width: 200px;
    display: block;
    border-radius: 20px;
    margin: 5px 0;
}

.intro h2 {
    float: right;
    margin-top: 10px;
}

.location h2 {
    margin-bottom: 10px;
}

footer {
    width: 100%;
    background-color: white;
}

footer ul {
    width: 100%;
}

a {
    text-decoration: none;
    color: #cd293d;
}

a:hover {
    color: #ffc300;
}